#galaxy {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.galaxy {
    z-index: 2;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 250px;
    background-color: antiquewhite;
    background-image: radial-gradient(circle, rgb(255, 228, 196) 5%, rgb(220, 140, 20) 30%, rgb(253, 252, 252) 65%);
}

.galaxy div {
    position: absolute;
}

.galaxy-1 {
    width: 100px;
    height: 100px;
    border-radius: 100rem;
    background-color: antiquewhite;
    z-index: 2;
}

.galaxy-2 {
    width: 20px;
    height: 20px;
    border-radius: 100rem;
    z-index: 3;
    background-color: rgb(14, 19, 19);
    animation: galaxy2 5s linear infinite;
}

.galaxy-3 {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    background-color: rgb(19, 15, 39);
    animation: galaxy2 5s linear infinite;
    animation-delay: -2.5s;
    z-index: 3;
}

@keyframes galaxy2 {
    0% {
        opacity: 1;
        transform: translateX(-140px);
    }
    50% {
        opacity: 1;
        transform: translateX(140px);
    }
    65% {
        transform: translateX(80px);
        opacity: 0;
    }
    85% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(-140px);
    }
}

@media (max-width:360px) {
    #galaxy {
        width: 100%;
    }
    .galaxy {
        width: 340px;
        height: 340px;
    }
}

div #galaxy>div {
    width: 300px;
    display: flex;
    justify-content: center;
}

.circ {
    -webkit-backface-visibility: hidden;
    width: 120px;
    height: 50px;
    position: relative;
    z-index: -1;
    left: 0%;
    top: 20%;
    overflow: hidden;
}

.load {
    position: absolute;
    width: 70px;
    height: 30px;
    text-align: left;
    line-height: 32px;
    margin: -5px auto;
    font-size: 20px;
    left: 2%;
    top: 5%;
    animation: fontAnim 2s infinite;
    overflow: hidden;
}

@keyframes fontAnim {
    0% {
        width: 75px;
    }
    16% {
        width: 80px;
    }
    32% {
        width: 85px;
    }
    48% {
        width: 90px;
    }
    64% {
        width: 95px;
    }
    80% {
        width: 100px;
    }
    100% {
        width: 110px;
    }
}