.navbar-820 {
    width: 100%;
    position: sticky !important;
    top: 0;
    z-index: 10000;
}

.content-820 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 247, 220);
    border-bottom: 1px solid rgba(160, 157, 153, 0.514);
}

.content-820>span {
    color: rgb(214, 130, 4);
    font-size: 25px;
    line-height: 50px;
    margin: 0 0 0 20px;
}

.content-820>span>a {
    width: auto;
    color: rgb(214, 130, 4);
}

.content-820>span>a>span {
    font-size: 18px;
}

.content-820>div {
    display: flex;
    flex-direction: row;
}

.content-820>div>li>a {
    height: 50px;
    padding: 0 15px 0 15px;
    line-height: 50px;
    color: rgb(214, 130, 4);
}

.content-820>div>li:hover {
    background-color: rgb(231, 217, 208);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content-820>div>li>a:hover {
    color: rgb(250, 138, 26);
}

.content-820>div>li>.active {
    height: 50px;
    padding: 0 15px 0 15px;
    line-height: 50px;
    background-color: rgb(212, 230, 241);
    color: rgb(0, 102, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@media (min-width:541px) {
    div.navbar-820 {
        display: block;
    }
}