.find-cv {
    width: 100%;
    height: 100%;
}

.find-cv-content {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.find-border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.find-command {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.find-BangCap,
.find-ChuyenNganh,
.find-kinhnghiem,
.find-ViTri,
.find-CongViecUngTuyen,
.find-MucLuong {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
}

.find-BangCap>label,
.find-MucLuong>label,
.find-CongViecUngTuyen>label,
.find-ViTri>label,
.find-ChuyenNganh>label,
.find-kinhnghiem>label {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: rebeccapurple;
}

.find-BangCap>select,
.find-MucLuong>select,
.find-CongViecUngTuyen>select,
.find-ViTri>select,
.find-ChuyenNganh>select,
.find-kinhnghiem>select {
    width: 300px;
    height: 30px;
    outline: none;
    border: 1px solid rgb(252, 207, 156);
    color: rgb(121, 59, 8);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 0 0 20px;
}

.find-BangCap>select:hover,
.find-MucLuong>select:hover,
.find-CongViecUngTuyen>select:hover,
.find-ChuyenNganh>select:hover,
.find-kinhnghiem>select:hover,
.find-ViTri>select:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.find-BangCap>select option,
.find-MucLuong>select option,
.find-CongViecUngTuyen>select option,
.find-ChuyenNganh>select option,
.find-kinhnghiem>select option,
.find-ViTri>select option {
    background-color: aliceblue;
    color: rgb(121, 59, 8);
}

.find-btn-sreach {
    width: auto;
}

.find-btn-sreach>div {
    width: 100%;
    margin: 0 0 0 40px;
}

.find-btn-sreach>div>button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgb(245, 166, 77);
    box-shadow: 0 6px rgb(228, 223, 220);
    position: relative;
    outline: none;
    cursor: pointer;
}

.find-btn-sreach>div>button:hover {
    box-shadow: 0 4px rgb(133, 129, 123);
    top: 2px;
}

.find-btn-sreach>div>button:active {
    top: 6px;
    box-shadow: 0 0;
}

.find-title,
.find-content {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.find-title {
    background-color: rgb(215, 245, 250);
    border: 1px solid rgb(51, 83, 153);
    width: 100%;
    height: 40px;
    font-size: 14px;
}

.find-title>div {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.find-content {
    height: 35px;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid rgba(153, 112, 51, 0.671);
    line-height: 35px;
}

.f-ho {
    margin-left: 78px;
    width: 70px;
}

.f-ho-s {
    margin-left: 15px;
    width: 70px;
}

.f-ten,
.f-ten-s {
    width: 150px;
}

.f-trinhdo,
.f-trinhdo-s {
    width: 100px;
}

.f-chuyennganh,
.f-chuyennganh-s {
    width: 100px;
}

.f-kinhnghiem,
.f-kinhnghiem-s {
    width: 90px;
}

.f-congviecungtuyen,
.f-congviecungtuyen-s {
    width: 130px;
}

.f-vitri,
.f-vitri-s {
    width: 120px;
}

.f-mucluong,
.f-mucluong-s {
    width: 120px;
}

.f-ngaydang,
.f-ngaydang-s {
    width: 200px;
}


/******* check box*******************************/

.l-find {
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 40px;
}

.l-find:hover {
    cursor: pointer;
    color: rgb(63, 38, 5);
}

.find-content:hover {
    cursor: pointer;
    background-color: rgb(236, 232, 226);
}

.i-find {
    height: 12px;
    width: 12px;
    display: inline-block;
    border: 1px solid rgb(97, 46, 5);
    position: relative;
    margin: 0 5px;
    border-radius: 3px;
}

.l-find:hover .i-job {
    border: 1px solid rgb(255, 145, 0);
}

.inp-find {
    display: none;
}

.inp-find:checked+i::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    height: 8px;
    width: 8px;
    border-radius: 2px;
    background: rgb(173, 87, 6);
}


/************ btn ******************/

.find-btn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid blue;
    background-color: rgb(248, 238, 223);
}

.find-btn>div {
    margin: 0 0 0 50px;
}

.find-btn>div>button {
    height: 25px;
    width: 70px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgb(153, 105, 51);
    outline: none;
    box-shadow: 0 6px rgb(224, 221, 214);
    position: relative;
}

.find-btn>div>button:hover {
    cursor: pointer;
    box-shadow: 0 4px rgb(175, 174, 172);
    top: 2px;
}

.find-btn>div>button:active {
    top: 6px;
    box-shadow: 0 0;
}